body {
	font-family: Oswald;
	font-weight: normal;
	font-style: normal;
	background-color:#000000;
	margin-left: 14px;
	margin-right: 14px;
}

canvas.deep_space {
	padding: 0;
	margin: auto;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#wrap {
	width: 900px;
	margin: 0 auto;
}


div.body {
	padding: 0;
	margin: auto;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}